{% extends 'admin_base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="InputGitHubUsername">GitHub username </label>
                <input type="text" class="form-control" id="InputGitHubUsername" placeholder="GitHub username" name="github_username">
            </div>
            {% if starred %}
                <button type="submit" class="btn btn-info">Import</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Import To GitMark</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}
