{% extends 'admin_base.html' %}
{% block main %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>GitHub Account</h3>
        <form method="POST">
        {% csrf_token %}
            <p>
            {% if request.user.account.github_username %}
                GitHub: <a href="#">{{ request.user.account.github_username }}</a> | 
                <a href="#">Remove</a>
            {% else %}
                <button type="submit" class="btn btn-success" name="link_github" value='true'> Link to <i class="fa fa-github"></i></button>
            {% endif %}
            </p>
        </form>
        
    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}
