{% extends 'base.html' %}
{% block main %}
    <div class="container">
      <div class="content-left col-md-8">
        <h1>My Repositories</h1>
        <hr>
        <!-- <div class="panel panel-default">
          <div class="panel-heading">Panel heading without title</div>
          <div class="panel-body">
            <h4>Panel title</h4>

            Panel content

            <div><small> python + </small></div>
          </div>
          <div class="panel-footer"><small> python + </small></div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Panel heading without title</div>
          <div class="panel-body">
            <h4>Panel title</h4>

            Panel content
          </div>
          <div class="panel-footer"><small> python + </small></div>
        </div> -->

        <ul class="repo-list">
          <li class="repo-list-item">
            <h4><a href="#">repo title</a></h4>
            <p class="repo-list-desc">
              desctiption
            </p>
            <p class="repo-list-meta">
              python add
            </p>
          </li>
          <li class="repo-list-item">
            <h4><a href="#">repo title</a></h4>
            <p class="repo-list-desc">
              desctiption
            </p>
            <p class="repo-list-meta">
              python add
            </p>
          </li>
          <li class="repo-list-item">
            <h4><a href="#">repo title</a></h4>
            <p class="repo-list-desc">
              desctiption
            </p>
            <p class="repo-list-meta">
              python add
            </p>
          </li>
        </ul>


      </div>
      <div class="content-right col-md-4">
        <h3>Filter</h3>
        <ul>
          <li>all repos</li>
          <li>my repos</li>
          <li>starred repos</li>
        </ul>
        <h3>Languages</h3>
        <ul>
          <li>python</li>
          <li>javascript</li>
          <li>swift</li>
        </ul>
        <h3>Tags</h3>
        tag1 tag2 tag3
      </div>
{% endblock %}


{% block js %}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock %}
